header{
  background-color:#964B00;
  color: #EDE8D0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.custom-button {
  background-color: #964B00; /* Green background */
  border: none;              /* Remove default border */
  color: #EDE8D0;              /* White text color */
  padding: 15px 26px;        /* Space between text and border */
  text-align: center;        /* Center the text */
  text-decoration: none;     /* Remove underlines (if using an <a> tag as a button) */
  display: inline-block;     /* Allows for padding/margin adjustments */
  font-size: 16px;           /* Increase font size */
  margin: 4px 2px;           /* Space around the button */
  cursor: pointer;           /* Change mouse cursor to a hand on hover */
  border-radius: 8px;        /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Add a subtle shadow */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for effects */
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 20px; /* espaço entre os itens */
  padding: 20px;
  
}

@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr; /* 1 coluna no celular */
    
  }
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}



nav a{
  text-decoration: none; 
        color: inherit;  
        margin-left: 10px;
        
}

i{
  font-size: 40px;
}

.produto img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  text-align: center;
  border: 0px solid #964B00;
   overflow: hidden; /* ESSENCIAL */
}

.produto img {
   object-fit: cover;
  transition: transform 0.2s ease;
}

.produto img:hover{
  transform: scale(1.2)/* aumenta a imagem */
}

body {
    	text-align: center;
    	font-family: Arial, Helvetica, sans-serif;
    	font-style: italic;
      font-size: 20px;
    	color: #964B00;
      margin: 0px;
      background-color:#EDE8D0
}


footer{
    background-color:#964B00;
  color: #EDE8D0;
  padding: 20px;
  text-align: center;
}



